.nav {
    padding: 10px 0;
    width: 100%;
    max-height: 100px;

    .nav__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo {
    max-width: 55px;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 700px;
    max-height: 100%;
    background-color: $primary-c;
    transition: $transition-t;
    z-index: 9;

    &.active {
        right: 0;
    }

    a {
        margin: $baseline * 2 $baseline * 3;
        font-size: $baseline * 2;
        text-decoration: none;
        text-transform: uppercase;
        color: white;
    }

    @include breakpoint("xs") {
        width: 80%;
    }
}

.burger {
    position: relative;
    display: flex;
    align-items: center;
    width: 30px;
    height: 25px;
    z-index: 10;
}

.burger-line {
    position: relative;
    display: block;
    width: 100%;
    height: 5px;
    background-color: $primary-c;
    transition: 0.5s ease-in-out;

    &::before {
        content: "";
        position: absolute;
        top: -10px;
        width: 100%;
        height: 100%;
        background-color: $primary-c;
        transition: $transition-t;
    }
    &::after {
        content: "";
        position: absolute;
        top: 10px;
        width: 100%;
        height: 100%;
        background-color: $primary-c;
        transition: $transition-t;
    }
}

.active .burger-line {
    background-color: transparent;
}

.active > .burger-line::before {
    @include burger-animate(0, rotate(45deg), top 0.5s ease-in-out transform 0.5s);
    background-color: #fff;
}

.active > .burger-line::after {
    @include burger-animate(0, rotate(-45deg), top 0.5s ease-in-out transform 0.5s);
    background-color: #fff;
}
